* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.moydon {
  background-image: url("./imgs/soccer-bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.moydon {
  position: relative;
  width: 100%;
  height: 100vh;
}

#top {
  transition: all 0.4s ease;
  cursor: pointer;
  z-index: 2;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
}
